<h1 class="what-makes-us-title">What makes us different makes them stronger</h1>

{% comment %} Start of Header Center Section Container {% endcomment %}
<div class="header-center-container">

    {% comment %} Start of Complete Container of Real Food & Premium Ingredient {% endcomment %}
    <div class="real-food-and-premium-ingredient-container">

        {% comment %} Start of Real Food Container {% endcomment %}
        <div class="real-food-container">
            {% comment %} Start of Image with colorful background {% endcomment %}
            <div class="real-food-img-container">
                <div class="real-food-colorful-background">
                    <div>
                        <img class="real-food-img" src="{{ 'real-food-img.png' | asset_url }}" alt="real food image">
                    </div>
                </div>
            </div>
            {% comment %} End of Image with colorful background {% endcomment %}
            {% comment %} Start of Real Food Text {% endcomment %}
            <div class="real-food-text">
                <h1>Real Food</h1>
                <p>Wholesome recipes for dogs with real meat and veggies.</p>
            </div>
            {% comment %} End of Real Food Text {% endcomment %}
        </div>
        {% comment %} End of Real Food Container {% endcomment %}

        {% comment %} Start of Premium Ingredient Container {% endcomment %}
        <div class="premium-ingredient-container">
            <div class="premium-ingredient-img-container">
                {% comment %} Start of Image with colorful background {% endcomment %}
                <div class="premium-ingredient-colorful-background">
                    <div>
                        <img class="premium-ingredient-img" src="{{ 'premium-ingredients-img.png' | asset_url }}"
                            alt="premium ingredients image">
                    </div>
                </div>
            </div>
            {% comment %} End of Image with colorful background {% endcomment %}
            {% comment %} Start of Real Food Text {% endcomment %}
            <div class="premium-ingredient-text">
                <h1>Premium Ingredient</h1>
                <p>Elevating pet care with unmatched safety and quality.</p>
            </div>
            {% comment %} End of Real Food Text {% endcomment %}
        </div>
        {% comment %} End of Premium Ingredient Container {% endcomment %}

    </div>
    {% comment %} End of Complete Container of Real Food & Premium Ingredient {% endcomment %}

    {% comment %} Start of Header Center Image Container {% endcomment %}
    <div class="header-center-img-container">
        <div class="header-center-divider-img">
            <img src="{{ 'header-center-divider.png' | asset_url }}" alt="premium ingredients image">
        </div>
        <div class="header-center-bottom-img">
            <img src="{{ 'header-bottom-img.png' | asset_url }}" alt="premium ingredients image">
        </div>
        <div class="header-center-top-img">
            <img src="{{ 'header-top-img.png' | asset_url }}" alt="premium ingredients image">
        </div>
    </div>
    {% comment %} End of Header Center Image Container {% endcomment %}

    {% comment %} Start of Complete Container of Made Fresh & Vet Developed {% endcomment %}
    <div class="made-fresh-and-vet-developed-container">

        {% comment %} Start of Real Food Container {% endcomment %}
        <div class="made-fresh-container">
            {% comment %} Start of Image with colorful background {% endcomment %}
            <div class="made-fresh-img-container">
                <div class="made-fresh-colorful-background">
                    <div>
                        <img class="made-fresh-img" src="{{ 'made-fresh-img.png' | asset_url }}" alt="made fresh image">
                    </div>
                </div>
            </div>
            {% comment %} End of Image with colorful background {% endcomment %}
            {% comment %} Start of Real Food Text {% endcomment %}
            <div class="made-fresh-text">
                <h1>Made Fresh</h1>
                <p>We prioritize maintaining the integrity of whole foods and nutrition.</p>
            </div>
            {% comment %} End of Real Food Text {% endcomment %}
        </div>
        {% comment %} End of Real Food Container {% endcomment %}

        {% comment %} Start of Premium Ingredient Container {% endcomment %}
        <div class="vet-developed-container">
            <div class="vet-developed-img-container">
                {% comment %} Start of Image with colorful background {% endcomment %}
                <div class="vet-developed-colorful-background">
                    <div>
                        <img class="vet-developed-img" src="{{ 'vet-developed-img.png' | asset_url }}"
                            alt="vet developed image">
                    </div>
                </div>
            </div>
            {% comment %} End of Image with colorful background {% endcomment %}
            {% comment %} Start of Real Food Text {% endcomment %}
            <div class="vet-developed-text">
                <h1>Vet Developed</h1>
                <p>We raise the bar for dog nutrition, surpassing industry expectations.</p>
            </div>
            {% comment %} End of Real Food Text {% endcomment %}
        </div>
        {% comment %} End of Premium Ingredient Container {% endcomment %}

    </div>
    {% comment %} End of Complete Container of Real Food & Premium Ingredient {% endcomment %}

</div>
{% comment %} End of Header Center Section Container {% endcomment %}

{% comment %} Start of Header Button Section {% endcomment %}
<div class="header-button-container">
    <a href="#" class="header-button">Get your dog's healthy meal today!</a>
    <div class="button-bottom-section">
       <div class="money-guarantee-container">
        <img class="shield-check-img" src="{{ 'shield-check-img.png' | asset_url }}" alt="shield-check-img">
        <p>30-day money back guarantee</p>
       </div>
        <div>
            <img class="paypal-img" src="{{ 'paypal-img.png' | asset_url }}" alt="paypal image">
            <img class="visa-img" src="{{ 'visa-img.png' | asset_url }}" alt="visa image">
            <img class="master-card-img" src="{{ 'master-card-img.png' | asset_url }}" alt="master card image">
            <img class="apple-pay-img" src="{{ 'apple-pay-img.png' | asset_url }}" alt="apple pay image">
            <img class="google-pay-img" src="{{ 'google-pay-img.png' | asset_url }}" alt="google pay image">
        </div> 
    </div>
</div>
{% comment %} End of Header Button Section {% endcomment %}

{% comment %} Start of Nutrition is the foundation Section {% endcomment %}
 
{% comment %} Start of Middle Section Text {% endcomment %}
<div class="happy-bites-container">
    <div class="happy-bites-text">
        <h1>Nutrition is the foundation for longer, healthier lives in dogs.</h1>
        <p class="happy-bites-par-description">Invest in your dog's future with our scientifically formulated superfood-powered supplements. Give them the nutrition they deserve and watch them thrive with vitality, energy, and the joy of a longer, healthier life.</p>
        <div>
            <p class="key-point-text">Key Points:</p>
            <div class="first-list">
                <p class="first-list-color-text">97%</p>
                <p class="first-list-description">Dogs choose our dog food over leading brands because of its real functional ingredients and delicious flavor.</p>
            </div>
            <div class="second-list">
                <p class="second-list-color-text">84%</p>
                <p class="second-list-description">Our dog food provides superior nutrition and a patented probiotic for optimal nutrient absorption.</p>
            </div>
            <div class="third-list">
                <p class="third-list-color-text">92%</p>
                <p class="third-list-description">Our dog food's high protein and fat digestibility contribute to ideal stool quality.</p>
            </div>
        </div>
        <div class="happy-bites-button-container">
            <a href="#" class="happy-bites-button">Give your furry friend the gift of wholesome nutrition</a>
        </div>
    </div>
{% comment %} End of Middle Section Text {% endcomment %}
    {% comment %} Start of Middle Section Image {% endcomment %}
    <div>
      <img class="happy-dog-bites-img" src="{{ 'happy-dog-bites-img.png' | asset_url }}" alt="happy dog bites image">
    </div>
    {% comment %} End of Middle Section Image {% endcomment %}
 </div>
{% comment %} End of Nutrition is the foundation Section {% endcomment %} 

{% comment %} Start of Improve Overall Section {% endcomment %}
  <div class="improve-overall-container">
    <div>
        <img class="doggies-eating-img" src="{{ 'doggies-eating-img.png' | asset_url }}" alt="happy dog bites image">
    </div>
    <div class="improve-overall-text">
        <h1>Improve overall gastrointestinal health for better nutrient absorption</h1>
        <p>Through rigorous scientific studies and consultations with veterinarians, we have created a breakthrough formula exclusively tailored to combat the health challenges prevalent in dogs. A staggering 91% of our customers have reported significant improvements in their dogs' health after incorporating our product into their diet.</p>
    </div>
  </div>
{% comment %} End of Improve Overall Section {% endcomment %}

{% comment %} Start of Prebiotics Nourish {% endcomment %}
 <div class="prebiotics-nourish-container">
    <div class="prebiotics-nourish-text">
        <h1>Prebiotics nourish the beneficial gut bacteria, supporting digestive health</h1>
        <p>Our dog food formula contains carefully selected prebiotics that work in harmony with the gut microbiota, providing the necessary nutrients for the growth and maintenance of beneficial bacteria, ultimately supporting digestive health.</p>
    </div>
    <div>
        <img class="dog-food-img" src="{{ 'dog-food-img.png' | asset_url }}" alt="doggie food image">
    </div>
 </div>
{% comment %} End of Prebiotics nourish {% endcomment %}